* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16p;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #EEE7E1;
}

.container-init {
    display: flex;
    width: 100%;
   
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    width: 4rem;
    margin-left: 7rem;
}

.list-menu {
    display: flex;
    list-style: none;
    width: 50%;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.list-menu-2 {
    display: flex;
    list-style: none;
    width: 30%;
    margin-left: 14rem;
    cursor: pointer;
}

.item-list {
    margin-left: 3rem;
    color: #707070;
    font-size: 1.5em;
}

.container-all-content {
    display: flex;
    align-items: center;
    height: 80vh;
}

.text-header {
    width: 40%;
    height: 70vh;
    position: relative;
    left: 7rem;
    top: 2rem;
    z-index: 1;
}

.title-main {
    color: #FFFFFF;
    font-size: 13em;
    width: 0%;
    font-weight: 100;
    line-height: 153px;
}

.subtitle {
    font-weight: 100;
    font-size: 2em;
    position: relative;
    bottom: 25.7rem;
    left: 14rem;
}

.image-text {
    background-image: url(assets/barrigadeatletawomengym.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 8rem;
    height: 7rem;
    position: relative;
    bottom: 9.9rem;
    left: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-play {
    background-color: transparent;
    border: none;
    width: 15px;
    cursor: pointer;
}

.description-image {
    font-size: 1.5em;
    font-weight: 100;
    width: 10rem;
    position: relative;
    bottom: 10rem;
    left: 14rem;
}

.background-model {
    background-image: url(assets/atletawomengym.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 42rem;
    height: 96vh;
    position: relative;
    right: 3rem;
    z-index: 0;
}

.container-list-main {
    display: flex;
    width: 36%;
    position: relative;
    right: 2rem;
}

.list-main {
    list-style: none;
    cursor: pointer;
    margin-right: 1rem;
}

.item-list-main {
    text-align: end;
    font-size: 2.2em;
    color: #BAB6B3;
    line-height: 2rem;
}

.item-list-main:hover {
    color: black;
}

.image-list {
    background-image: url(assets/barrigadeatletawomengym2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 7rem;
    height: 6rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph-footer {
    font-size: 12px;
    font-weight: 100;
    width: 30%;
    text-align: end;
    margin-left: 55rem;
}